USE [master]
GO
/****** Object:  Database [QUANLIPHONGKHAM]    Script Date: 5/21/2021 12:56:58 PM ******/
CREATE DATABASE [QUANLIPHONGKHAM]
 
USE [QUANLIPHONGKHAM]
GO
/****** Object:  UserDefinedFunction [dbo].[Func_THIETLAP_MATANG]    Script Date: 5/21/2021 12:56:58 PM ******/

GO
Create function [dbo].[Func_THIETLAP_MATANG](@last_ID varchar(7),@prefix varchar(3),@size int)
  returns varchar(7)
as 
  BEGIN
       if( @last_ID = '')
	        set @last_ID = @prefix + REPLICATE(0,@size - LEN(@prefix))  
		declare @num_ID int,@nextID varchar(10)
		set @last_ID = LTRIM(RTRIM(@last_ID))
		set @num_ID = REPLACE(@last_ID,@prefix,'') + 1
		set @size=@size - LEN(@prefix)
		set @nextID=@prefix +REPLICATE(0,@size - LEN(@prefix))
		set @nextID=@prefix +RIGHT(REPLICATE(0,@size)+ CONVERT (varchar(max),@num_ID),@size)
		return @nextID
   END
GO
/****** Object:  Table [dbo].[BENHNHAN]    Script Date: 5/21/2021 12:56:58 PM ******/

GO
CREATE TABLE [dbo].[BENHNHAN](
	[MABN] [varchar](7) NOT NULL,
	[TENBN] [nvarchar](30) NOT NULL,
	[NAMSINH] [date] NOT NULL,
	[GIOITINH] [nvarchar](4) NULL,
	[DIACHI] [nvarchar](60) NOT NULL,
	[TRIEUCHUNG] [nvarchar](50) NOT NULL,
	[TIENSU] [nvarchar](50) NULL,
	[KETQUA] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BENHNHAN] PRIMARY KEY CLUSTERED 
(
	[MABN] ASC
)
--WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BENHNHANDICHVU]    Script Date: 5/21/2021 12:56:58 PM ******/

GO
CREATE TABLE [dbo].[BENHNHANDICHVU](
	[MABN] [varchar](7) NOT NULL,
	[MADV] [char](10) NOT NULL,
	[mahd] [varchar](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABN] ASC,
	[MADV] ASC
)--WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 5/21/2021 12:56:58 PM ******/

GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHD] [varchar](7) NOT NULL,
	[MATHUOC] [varchar](7) NOT NULL,
	[SL] [int] NOT NULL,
	[THANHTIEN] [float] NOT NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MATHUOC] ASC
)--WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETNHAPKHO]    Script Date: 5/21/2021 12:56:58 PM ******/

GO
CREATE TABLE [dbo].[CHITIETNHAPKHO](
	[MANK] [varchar](7) NOT NULL,
	[MATHUOC] [varchar](7) NOT NULL,
	[TENTHUOC] [nvarchar](50) NOT NULL,
	[GIA] [float] NOT NULL,
	[SL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANK] ASC,
	[MATHUOC] ASC
)--WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATLICH]    Script Date: 5/21/2021 12:56:58 PM ******/

GO
CREATE TABLE [dbo].[DATLICH](
	[MABN] [varchar](7) NOT NULL,
	[MANV] [varchar](7) NOT NULL,
	[NGAY] [date] NOT NULL,
	[GIO] [char](10) NULL,
 CONSTRAINT [PK_DATLICH] PRIMARY KEY CLUSTERED 
(
	[MABN] ASC,
	[MANV] ASC
)--WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVUKHAMBENH]    Script Date: 5/21/2021 12:56:58 PM ******/

GO
CREATE TABLE [dbo].[DICHVUKHAMBENH](
	[MADV] [char](10) NOT NULL,
	[TENDV] [nvarchar](30) NOT NULL,
	[GIADV] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)--WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 5/21/2021 12:56:58 PM ******/

GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [varchar](7) NOT NULL,
	[MABN] [varchar](7) NOT NULL,
	[MANV] [varchar](7) NOT NULL,
	[NGAY] [date] NOT NULL,
	[GIO] [char](6) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)--WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 5/21/2021 12:56:58 PM ******/

GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](7) NOT NULL,
	[TENNV] [nvarchar](30) NOT NULL,
	[NAMSINH] [date] NOT NULL,
	[CHUCVU] [nvarchar](30) NOT NULL,
	[GIOITINH] [nvarchar](4) NULL,
	[GMAIL] [varchar](50) NULL,
	[SDT] [varchar](12) NOT NULL,
	[DIACHI] [nvarchar](60) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)--WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAPKHO]    Script Date: 5/21/2021 12:56:58 PM ******/

GO
CREATE TABLE [dbo].[PHIEUNHAPKHO](
	[MANK] [varchar](7) NOT NULL,
	[MANV] [varchar](7) NULL,
	[NGAYNK] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANK] ASC
)--WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 5/21/2021 12:56:58 PM ******/

GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MANV] [varchar](7) NOT NULL,
	[PASSWORDS] [nvarchar](50) NOT NULL,
	[TRANGTHAI] [int] NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)--WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUOC]    Script Date: 5/21/2021 12:56:58 PM ******/

GO
CREATE TABLE [dbo].[THUOC](
	[MATHUOC] [varchar](7) NOT NULL,
	[TENTHUOC] [nvarchar](30) NOT NULL,
	[GIA] [float] NOT NULL,
	[SL] [int] NOT NULL,
 CONSTRAINT [PK_THUOC] PRIMARY KEY CLUSTERED 
(
	[MATHUOC] ASC
)--WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BENHNHAN] ([MABN], [TENBN], [NAMSINH], [GIOITINH], [DIACHI], [TRIEUCHUNG], [TIENSU], [KETQUA]) VALUES (N'BN_0001', N'Lê Nguyễn Hoàng Anh', CAST(N'1990-05-27' AS Date), N'Nữ', N'Quận 1,TP HCM', N'Đau ngực,Thở gấp', N'Bệnh mạch vành', N'Cao huyết áp,hở vanh tim 1/4')
INSERT [dbo].[BENHNHAN] ([MABN], [TENBN], [NAMSINH], [GIOITINH], [DIACHI], [TRIEUCHUNG], [TIENSU], [KETQUA]) VALUES (N'BN_0002', N'Phan Nhật Minh', CAST(N'1989-01-02' AS Date), N'Nam', N'Quận Tân Phú,TP HCM', N'Khó thở,Thở khò khè', N'Bệnh lao', N'Nhiễm trùng đường hô hấp')
INSERT [dbo].[BENHNHAN] ([MABN], [TENBN], [NAMSINH], [GIOITINH], [DIACHI], [TRIEUCHUNG], [TIENSU], [KETQUA]) VALUES (N'BN_0003', N'Trần Lệ Thủy Ân', CAST(N'2000-12-03' AS Date), N'Nữ', N'Huyện Củ Chi,TP HCM', N'Đau ngực,Ho ra máu', N'Bệnh phổi', N'Bệnh COPD')
GO
INSERT [dbo].[BENHNHANDICHVU] ([MABN], [MADV], [mahd]) VALUES (N'BN_0001', N'cx        ', N'HD_0001')
INSERT [dbo].[BENHNHANDICHVU] ([MABN], [MADV], [mahd]) VALUES (N'BN_0001', N'SA        ', N'HD_0001')
INSERT [dbo].[BENHNHANDICHVU] ([MABN], [MADV], [mahd]) VALUES (N'BN_0001', N'TM        ', N'HD_0001')
GO
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MATHUOC], [SL], [THANHTIEN]) VALUES (N'001', N'MT_0001', 5, 250000)
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MATHUOC], [SL], [THANHTIEN]) VALUES (N'0012', N'MT_0030', 15, 300000)
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MATHUOC], [SL], [THANHTIEN]) VALUES (N'HD_0001', N'MT_0002', 3, 297000)
GO
INSERT [dbo].[CHITIETNHAPKHO] ([MANK], [MATHUOC], [TENTHUOC], [GIA], [SL]) VALUES (N'NK_0001', N'MT_0001', N'Digoxin_tim', 20000, 10)
INSERT [dbo].[CHITIETNHAPKHO] ([MANK], [MATHUOC], [TENTHUOC], [GIA], [SL]) VALUES (N'NK_0001', N'MT_0002', N'Nitroglycerin_tim', 70000, 50)
INSERT [dbo].[CHITIETNHAPKHO] ([MANK], [MATHUOC], [TENTHUOC], [GIA], [SL]) VALUES (N'NK_0001', N'MT_0003', N'Isosorbid_tim', 150000, 30)
GO
INSERT [dbo].[DATLICH] ([MABN], [MANV], [NGAY], [GIO]) VALUES (N'BN_0001', N'NV_0003', CAST(N'2021-01-20' AS Date), N'07:00     ')
INSERT [dbo].[DATLICH] ([MABN], [MANV], [NGAY], [GIO]) VALUES (N'BN_0002', N'NV_0006', CAST(N'2021-01-29' AS Date), N'08:00     ')
INSERT [dbo].[DATLICH] ([MABN], [MANV], [NGAY], [GIO]) VALUES (N'BN_0002', N'NV_0015', CAST(N'2021-04-02' AS Date), N'16:00     ')
GO
INSERT [dbo].[DICHVUKHAMBENH] ([MADV], [TENDV], [GIADV]) VALUES (N'CX        ', N'Chụp X quang', 100000)
INSERT [dbo].[DICHVUKHAMBENH] ([MADV], [TENDV], [GIADV]) VALUES (N'DDT       ', N'Đo Điện Tim', 100000)
INSERT [dbo].[DICHVUKHAMBENH] ([MADV], [TENDV], [GIADV]) VALUES (N'DHA       ', N'Đo Huyết Áp', 100000)
GO
INSERT [dbo].[HOADON] ([MAHD], [MABN], [MANV], [NGAY], [GIO]) VALUES (N'001', N'BN_0002', N'NV_0002', CAST(N'1970-01-01' AS Date), N'17:26 ')
INSERT [dbo].[HOADON] ([MAHD], [MABN], [MANV], [NGAY], [GIO]) VALUES (N'0012', N'BN_0012', N'NV_0002', CAST(N'1970-01-01' AS Date), N'17:28 ')
INSERT [dbo].[HOADON] ([MAHD], [MABN], [MANV], [NGAY], [GIO]) VALUES (N'HD_0001', N'BN_0001', N'NV_0001', CAST(N'2021-02-12' AS Date), N'07:15 ')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NAMSINH], [CHUCVU], [GIOITINH], [GMAIL], [SDT], [DIACHI]) VALUES (N'NV_0001', N'Nguyễn Thị Tuyết', CAST(N'2001-07-20' AS Date), N'Kế Toán_Tài Chính', N'Nữ', N'nguyenthituyet909w@gmail.com', N'0767914077', N'Quảng Ngãi')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NAMSINH], [CHUCVU], [GIOITINH], [GMAIL], [SDT], [DIACHI]) VALUES (N'NV_0002', N'Hồ Bảo Trâm', CAST(N'2001-04-12' AS Date), N'Kỹ thuật', N'Nữ', N'hobaotran123@gmail.com', N'0720356609', N'Bình Thuận')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NAMSINH], [CHUCVU], [GIOITINH], [GMAIL], [SDT], [DIACHI]) VALUES (N'NV_0003', N'Mai Hồng Xuân', CAST(N'2001-01-12' AS Date), N'bác sĩ nội khoa', N'Nữ', N'maihongxuan12345@gmail.com', N'0506297539', N'Cần Thơ')
GO
INSERT [dbo].[PHIEUNHAPKHO] ([MANK], [MANV], [NGAYNK]) VALUES (N'NK_0001', N'NV_0001', CAST(N'2001-01-01' AS Date))
INSERT [dbo].[PHIEUNHAPKHO] ([MANK], [MANV], [NGAYNK]) VALUES (N'NK_0002', N'NV_0002', CAST(N'2021-02-01' AS Date))
INSERT [dbo].[PHIEUNHAPKHO] ([MANK], [MANV], [NGAYNK]) VALUES (N'NK_0003', N'NV_0003', CAST(N'2021-03-01' AS Date))
GO
INSERT [dbo].[TAIKHOAN] ([MANV], [PASSWORDS], [TRANGTHAI]) VALUES (N'NV_0001', N'nguyenthituyet789', 1)
INSERT [dbo].[TAIKHOAN] ([MANV], [PASSWORDS], [TRANGTHAI]) VALUES (N'NV_0002', N'admin', 1)
INSERT [dbo].[TAIKHOAN] ([MANV], [PASSWORDS], [TRANGTHAI]) VALUES (N'Nv_0003', N'123456', 0)
GO
INSERT [dbo].[THUOC] ([MATHUOC], [TENTHUOC], [GIA], [SL]) VALUES (N'MT_0001', N'Digoxin_tim', 50000, 25)
INSERT [dbo].[THUOC] ([MATHUOC], [TENTHUOC], [GIA], [SL]) VALUES (N'MT_0002', N'Nitroglycerin_tim', 99000, 40)
INSERT [dbo].[THUOC] ([MATHUOC], [TENTHUOC], [GIA], [SL]) VALUES (N'MT_0003', N'Isosorbid_tim', 200000, 20)
GO
ALTER TABLE [dbo].[BENHNHANDICHVU]  WITH CHECK ADD FOREIGN KEY([MABN])
REFERENCES [dbo].[BENHNHAN] ([MABN])
GO
ALTER TABLE [dbo].[BENHNHANDICHVU]  WITH CHECK ADD FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVUKHAMBENH] ([MADV])
GO
ALTER TABLE [dbo].[BENHNHANDICHVU]  WITH CHECK ADD FOREIGN KEY([mahd])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_THUOC] FOREIGN KEY([MATHUOC])
REFERENCES [dbo].[THUOC] ([MATHUOC])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_THUOC]
GO
ALTER TABLE [dbo].[CHITIETNHAPKHO]  WITH CHECK ADD FOREIGN KEY([MATHUOC])
REFERENCES [dbo].[THUOC] ([MATHUOC])
GO
ALTER TABLE [dbo].[CHITIETNHAPKHO]  WITH CHECK ADD FOREIGN KEY([MANK])
REFERENCES [dbo].[PHIEUNHAPKHO] ([MANK])
GO
ALTER TABLE [dbo].[DATLICH]  WITH CHECK ADD  CONSTRAINT [FK_DATLICH_BENHNHAN] FOREIGN KEY([MABN])
REFERENCES [dbo].[BENHNHAN] ([MABN])
GO
ALTER TABLE [dbo].[DATLICH] CHECK CONSTRAINT [FK_DATLICH_BENHNHAN]
GO
ALTER TABLE [dbo].[DATLICH]  WITH CHECK ADD  CONSTRAINT [FK_DATLICH_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DATLICH] CHECK CONSTRAINT [FK_DATLICH_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_BENHNHAN] FOREIGN KEY([MABN])
REFERENCES [dbo].[BENHNHAN] ([MABN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_BENHNHAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[BENHNHAN]  WITH CHECK ADD CHECK  (([GIOITINH]=N'Nữ' OR [GIOITINH]='Nam'))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  (([GIOITINH]=N'Nữ' OR [GIOITINH]='Nam'))
GO
USE [master]
GO
